Service References/WSServerSoap/MetodosRCD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValidacionNombre" type="tns:ValidacionNombre" />
  <xs:element name="ValidacionNombreResponse" type="tns:ValidacionNombreResponse" />
  <xs:element name="ValidacionRut" type="tns:ValidacionRut" />
  <xs:element name="ValidacionRutResponse" type="tns:ValidacionRutResponse" />
  <xs:complexType name="ValidacionRut">
    <xs:sequence>
      <xs:element minOccurs="0" name="rut" type="xs:string" />
      <xs:element minOccurs="0" name="dv" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidacionRutResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidacionNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidacionNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>